.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;

  /* A z-index of let's say 50, to be above all the other elements  */
}

.alert-box {
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  /* a z-index of 100 to be above of the backdrop,r */
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0 ,0 0.26) ;
  /* I'll not set a height, the height should be determined by the content that's in there */
}


.alert-box-actions{
  text-align: right;
}
