<a
    href="#"
    class="list-group-item clearfix"
   >
      <div class="pull-left">
        <h4 class="list-group-item-heading">Recipe Name: {{recipeInRecipeItem.name}} </h4>
        <p class="list-group-item-text">Description: {{recipeInRecipeItem.description}} </p>
      </div>
      <span class="pull-right">
        <!-- alternatively:
              [src]="recipe.imagePath" -->
        <img
        src="{{recipeInRecipeItem.imagePath}}"
        alt="{{recipeInRecipeItem.name}}"
        class="img-responsive"
        style="max-height: 50px;">
      </span>
    </a>
