<a
    href="#"
    class="list-group-item clearfix"
    (click)="onSelected()">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Recipe Name: {{recipe.name}} </h4>
        <p class="list-group-item-text">Description: {{recipe.description}} </p>
      </div>
      <span class="pull-right">
        <!-- alternatively:
              [src]="recipe.imagePath" -->
        <img
        src="{{recipe.imagePath}}"
        alt="{{recipe.name}}"
        class="img-responsive"
        style="max-height: 50px;">
      </span>
    </a>

    <!-- we removed the code above from the recipe-list component and
    brought it here so the item is a separate component.
   We need to passs data to a the list component. so we removed the ngFor
  from here and put i tback to the recipe-list component and pass down
to the item component the individual item from every for iteration
in order for the data above(recipe.name, description etc) to work.
-->



<!-- Goal :
we have the link. and we want to know that whenever the link is clicked we emit
an event which is notifying his parent component that this recipe was selected.
 So we add a click listener (click)="onSelected()"
which we gonna implememnt in recipe-item (the child/surernt component) -->
