<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeElement of recipes"

      [recipe]="recipeElement"
      (recipeSelected)="onRecipeSelected(recipeElement)"
    >
    </app-recipe-item>
  </div>
</div>

<!-- With ngFor above the whole component is replicated
for each recipe-->
<!-- [recipe] = "recipeElement"
we bind to the property recipe of the component to the current
iteration (recipeElement)
we pass the recipeElement as a value from the right to the left -->
